@tailwind base;
@tailwind components;
@tailwind utilities;

input,
select {
    border-color: #e2e8f0 !important;
    border-width: 1px;
}

#loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

#loader::after {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #ccc;
    border-top-color: #888;
    animation: spin 1s infinite linear;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.hidden {
    display: none !important;
}
